<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAM ALPHA</title>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="wrapper">
        <header>
           <div class="left">
             <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
           </div>
           <div class="right-items">
             <ul class="list-tiems">
                 <li id="toggle-divs">DashBoard</li>
                 <li id="last-ten-q">Last Ten Questions</li>
                 <li id="Settings">Settings</li>
                 
             </ul>
             <button>Sign Up -> </button>
           </div>
        </header>

        <main>
          <div class="main-inner-container container">
            <div class="bot-chat-container first-div">
                <div class="AI-header">
                    <h4>Ai Assistance</h4>
                    <div class="mic-button" id="mic-button">
                        <span id="mic-label">Unmute</span>
                        <i class="fas fa-microphone-slash"></i>
                    </div>
                </div>
                <div class="Ai-user-chat-main" >
                    <div class="response-container box" id="ai-response-content">
                           
                        
                    </div>
                </div>

                <div class="Ai-input-box">
                    <input type="text" name="message" id="question-input" placeholder="Enter Query">
                </div>
                <div class="Buttons">
                    <button id="send-btn">Send</button>
                    <button>Send Pdf</button>
                    <button>Send Excel</button>
                </div>
            </div>

            <div class="navbar-toggle-container second-div" id="question_div">
                <div class="header">
                    <div class="mic-button">
                        <span id="back-btn">back</span>
                        <i class="ri-arrow-left-s-line"></i>
                    </div>
                    <div class="text">Last 10 questions</div>
                </div>

                <div class="questions-container">
                    <div class="question">
                        <div class="img"><img src="{{ url_for('static', filename='images/light-bulb.png') }}" alt=""></div>
                        <span>What is ai</span>
                    </div>
                  
                </div>
            </div>

            <div class="Settings-toogle-div second-div" id="settings_div">
                <div class="header">
                    <div class="mic-button">
                        <span id="back-btn1">back</span>
                        <i class="ri-arrow-left-s-line"></i>
                    </div>
                    <div class="text">Settings</div>
                </div>
                <div class="settings-container">
                   <div class="field">
                    <label for="activation">Activation Word</label>
                    <input type="text" name="activation" id="activation">
                   </div>

                   <div class="field">
                    <label for="deactice">De-Activation Word</label>
                    <input type="text" name="deactice" id="deactice">
                   </div>

                  <div class="btn"><button id="set-default">set to default</button></div> 
                </div>
            </div>
          </div>
        </main>

        <footer>

        </footer>
    </div>


    
    <script  src="{{ url_for('static', filename='js/voiceHandling.js') }}"></script>
<script  src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>